{% extends 'main/layout.html' %}
{% block title %}Episodes{% endblock %}
{% block head %}<h1 class="title text-center">Episodes page</h1>{% endblock %}
{% block nav %}
    <nav class="breadcrumb">
        <a href="/static">Main</a>
        <span class="separator">&gt;</span>
        <a href="/get-all-episodes/">Episodes</a>
    </nav>
{% endblock %}

{% block content %}
    <section>
        <div class="card">
            <ul>
                {% for episode in episodes %}
                    <li>
                        <a href="/episode/{{ episode.id }}">{{ episode.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}