{% extends 'main/layout.html' %}
{% block title %}Filter actors{% endblock %}
{% block head %}<h1 class="title text-center">Filter actors page</h1>{% endblock %}
{% block nav %}
    <nav class="breadcrumb">
        <a href="/">Main</a>
        <span class="separator">&gt;</span>
        <a href="/filter-actors/">Filter actors</a>
    </nav>
{% endblock %}

{% block content %}
    <section>
        <div class="card">

        </div>
    </section>
{% endblock %}

{#{% block  script %}#}
{#    <script type="module" src="/static/js/_.js" defer></script>#}
{#{% endblock %}#}