{% extends 'layout.html' %}
{% block title %}Genres detail{% endblock %}
{% block head %}<h1 class="title text-center">Genres detail page</h1>{% endblock %}
{% block nav %}
    <nav class="breadcrumb">
        <a href="/">Main</a>
        <span class="separator">&gt;</span>
        <a href="/shows/genres">Genres</a>
        <span class="separator">&gt;</span>
        <a href="/shows/genres/{{ genres.id }}">{{ genres.name }}</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="card">
        <table class="details card">
            <thead>

            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
{% endblock %}

{% block  script %}
    <script type="module" src="/static/js/genreDetail.js" defer></script>
{% endblock %}