{% extends 'main/layout.html' %}
{% block title %}Genres actors{% endblock %}
{% block head %}<h1 class="title text-center">Genres page</h1>{% endblock %}
{% block nav %}
    <nav class="breadcrumb">
        <a href="/">Main</a>
        <span class="separator">&gt;</span>
        <a href="/genres/">Genres actors</a>
    </nav>
{% endblock %}

{% block content %}
    <section>
        <div class="card">
            <ul>

            </ul>
        </div>
        <div class="card">
            <table class="text-center">
                <thead>

                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block  script %}
    <script type="module" src="/static/js/genres.js" defer></script>
    <script type="module" src="/static/js/genreDetail.js" defer></script>
{% endblock %}