{% extends "index.html" %}
{% block title %}Genre{% endblock %}
{% block pagetitle %}Genre{% endblock %}
{% block welcome %}{% endblock %}
{% block content %}
    <div class="card">
            <table class="details card">
                <thead>

                </thead>
                <tbody>

                </tbody>
            </table>
    </div>
{% endblock %}
{% block  script %}
    <script type="module" src="{{ url_for('static', filename='js/genre_detail.js') }}" defer></script>
{% endblock %}