{% extends 'layout.html' %}
{% block title %}Actors{% endblock %}
{% block head %}<h1 class="title text-center">List of actors</h1>
{% endblock %}
{% block nav %}
     <nav class="breadcrumb">
         <a href="/">Main</a>
         <span class="separator">&gt;</span>
         <a href="/actors">Actors</a>
     </nav>
{% endblock %}

{% block content %}
    {% for actor in actors %}
    <ul>
        <li>
            <p class="actor">{{ actor['name'] }}</p>

            <ol class="hidden">

                    {% for show in actor['titles'].split('#') %}
                    <li>{{  show  }}</li>
                    {% endfor %}
            </ol>
        </li>
    </ul>
    {% endfor %}
{% endblock %}