{% extends 'layout.html' %}
{% block title %}Actors{% endblock %}
{% block head %}<h1 class="title text-center">List of actors</h1>
{% endblock %}
{% block nav %}
    <nav class="breadcrumb">
        <a href="/">Main</a>
        <span class="separator">&gt;</span>
        <a href="/actors">Actors</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="popup hidden">
        <div class="popup-head">
            <h3>Shows</h3>
            <button class="close-btn">&times</button>
        </div>
        <p class="popup-list"></p>
    </div>
    <div class="table_">
        <ul class="actors">

        </ul>
    </div>
{% endblock %}
{% block  script %}
    <script type="module" src="/static/js/actors.js" defer></script>
    <!--script type="module" src="/static/js/actorPopup.js" defer></script-->
{% endblock %}
