{% extends 'main/layout.html' %}
{% block title %}Mystery, Horror{% endblock %}
{% block head %}<h1 class="title text-center">Mystery, Horror page</h1>{% endblock %}
{% block nav %}
    <nav class="breadcrumb">
        <a href="/">Main</a>
        <span class="separator">&gt;</span>
        <a href="/mystery-horror/">Mystery, Horror</a>
    </nav>
{% endblock %}

{% block content %}
    <section>
        <div class="card">
            <table class="details card">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Rating</th>
                        <th>Overview</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in mystery_horror %}
                        <tr>
                            <td>{{ detail.title }}</td>
                            <td>{{ detail.year }}</td>
                            <td>{{ detail.rating }}</td>
                            <td>
                                <button id="{{ show_id }}" class="overview">Show Overview</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="card_overview hidden">

    </div>
    </section>
{% endblock %}

{% block  script %}
    <script type="module" src="/static/js/overview.js" defer></script>
{% endblock %}