{% extends 'main/layout.html' %}
{% block title %}Show details{% endblock %}
{% block head %}<h1 class="title text-center">Show details</h1>{% endblock %}
{% block nav %}
    <nav class="breadcrumb">
        <a href="/">Main</a>
        <span class="separator">&gt;</span>
        <a href="/shows/most-rated/">Shows</a>
        <span class="separator">&gt;</span>
        <a href="/show/{{ details.id }}">{{ details.title }}</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="card detailed-view">
        <div class="row">
            {% if details.trailer %}
                <script type="text/javascript">
                    let videoId = '{{ details.trailer }}';
                </script>
            {% endif %}
            <script type="text/javascript" src="/static/js/embed-youtube.js"></script>
            <div class="col col-twothird">
                <h2>{{ details.title }}</h2>
                <p class="small grayed">{{ details.runtime }}
                    <span class="separator">|</span> {{ details.rating }}
                    &#9734; <span class="separator">|</span>{{ details.genres }}
                </p>
                <p>{{ details.overview }}</p>
                <p><b>Stars:</b>&nbsp;
                    {{ details.actors }}
                </p>
            </div>
            <div class="trailer col col-third">
                {% if details.trailer %}
                    <iframe src="{{ details.trailer.replace('watch', 'embed').replace('?v=', '/') + '?autoplay=1&mute=1' }}"
                            allow="autoplay"></iframe>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <h2>Seasons</h2>
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Overview</th>
                </tr>
                </thead>
                <tbody>
                {% for season in seasons %}
                    <tr>
                        <td class="text-center">{{ season.season_number }}</td>
                        <td class="text-center">{{ season.title }}</td>
                        {% if season.overview %}
                            <td>{{ season.overview }}</td>
                        {% else %}
                            <td class="text-center">Not available</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}