{% extends "index.html" %}
{% block nav %}
    <nav class="breadcrumb">
        <a href="/">Main page</a>
        <span class="separator">&gt;</span>
        <a href="{{ request.referrer }}">Page</a>
    </nav>
{% endblock %}
{% block title %}
    {{ details.title }}
{% endblock %}
{% block pagetitle %}
    {{ details.title }}
{% endblock %}
{% block welcome %}{% endblock %}
{% block content %}
    <div class="card detailed-view">
        <div class="row">
            {% if details.trailer %}
                <div class="col col-third" id="player" data-trailer="{{ details.trailer }}">
                    <script></script>
                </div>
            {% endif %}
            <div class="col col-third" id="player" data-trailer="{{ details.trailer }}">
                <script></script>
            </div>
            <div class="col col-twothird">
                <h2>{{ details.title }}</h2>
                <p class="small grayed">{{ details.runtime }} <span class="separator">|</span> {{ details.rating }}
                    &#9734; <span class="separator">|</span> {{ details.genres }}
                    <span class="separator">|</span> {{ details.year }}</p>
                <p>{{ details.overview }}</p>
                <p><b>Stars:</b> {% for index in range(3) %}
                    {% if index < 2 %}
                        {{ details.actors[index] }}<span class="separator">,</span>
                    {% else %}
                        {{ details.actors[index] }}
                    {% endif %}
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% if details.trailer %}
        <script src="/static/js/embed-youtube.js" defer></script>
    {% endif %}
    <div class="card">
        <p>Seasons</p>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Season No.</th>
                <th>Title</th>
                <th>Overview</th>
            </tr>
            </thead>
            <tbody>
            {% for season in seasons %}
                <tr>
                    <td class="text-center">{{ season.snum }}</td>
                    <td class="text-center">{{ season.title }}</td>
                    <td>{{ season.overview }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}